<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="../../../public/css/login.css"W />
  <title>Book Form Test</title>
  <script src="../../../public/js/create-book-val.js"></script>
</head>
<body>
<div id="login-page">
    <h1>Create book</h1>
  <form class="user-form-card">
    <div class="login-info">
      <label>Title</label>
      <input name="title" id="title" required>

      <label>Course Code</label>
      <input name="course_code" id="course_code" placeholder="e.g. COMP 3340" required>

      <label>Author</label>
      <input name="author" id="author" required>

      <label>ISBN</label>
      <input name="isbn">

      <label>Condition</label>
      <select name="condition">
        <option>New</option><option>Like New</option><option selected>Good</option>
        <option>Fair</option><option>Poor</option>
      </select>

      <label>Format</label>
      <select name="format">
        <option selected>Paperback</option><option>Hardcover</option>
        <option>Loose-leaf</option><option>eBook</option>
      </select>

      <label>Price (CAD)</label>
      <input type="number" name="price" value="0" step="0.01" min="0.0">

      <label>Description</label>
      <textarea name="description" id="description" placeholder="Write additional info about posting here" rows="5"></textarea>

      <label>Cover Image</label>
      <input type="file" name="cover_image" accept="image/*" required>

      <button type="submit">Create Listing</button>
    </div>
  </form>
</div>
</body>
</html>