main.container:has(#login-page) {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    grid-template-columns: none; /* disable the columns */
    grid-template-areas: none;    /* disable the areas */
    min-height: 70vh;
}

#login-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;    
    width: 100%;

}

#login-page h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
    color: #1a5a73;
}
#login-page h3 {
    text-align: center;
    color: #1a5a73;
}

.login-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1rem;
    width: 100%;
}

.login-footer span {
    font-size: 0.77rem;
}

.login-buttons {
    width: 100%;
    display: flex;
    align-items: center;
    justify-items: space-between;
}

.login-form-card {
    display: flex;
    width: 100%;
    max-width: 400px;
    padding: 2rem; 
    margin: 1rem;
    flex-direction: column;
    align-items: stretch;
    background-color: #94cfe3;
    border-radius: 0.5rem;
    /* box-shadow: 10px 10px #2a9ec7; */
}

.login-form-card input[type="email"], .login-form-card input[type="password"] {
    margin: 0.5rem 0;
    height: 3rem;
    font-size: 1rem;
    width: 100%;
    border-radius: 0.5rem;
    box-sizing: border-box;
    border: 1px solid #ccc;
    background-color: #dbe8ed;
}

.loginbtn {
    width: 100%;
    border: 2px solid #2a9ec7;
    margin: 0.5rem 0 0 0;
}

.remember-me {
    display: flex;
    font-size: 0.85rem;
    align-items: center;
    margin: 1rem 0;
    gap: 0.5rem;
}

.remember-me input[type="checkbox"] {
    width: auto;
    height: 1.25rem;
    margin: 0;
}
