main.container:has(#login-page), main.container:has(#signup-page) {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    grid-template-columns: none; /* disable the columns */
    grid-template-areas: none;    /* disable the areas */
    min-height: 70vh;
}

#login-page, #signup-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;    
    width: 100%;

}

#login-page h1, #signup-page h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
    color: #1a5a73;
}

#login-page h3, #signup-page h3 {
    text-align: center;
    color: #1a5a73;
}

/* this accomodates for both signup and login pages */
.user-info-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1rem;
    width: 100%;
}

.user-info-footer span {
    font-size: 0.77rem;
}

#signup-footer {
    justify-content:center;
}

.user-form-card {
    display: flex;
    width: 100%;
    max-width: 600px;
    padding: 2rem; 
    margin: 0 auto;
    flex-direction: column;
    align-items: stretch;
    background-color: #94cfe3;
    border-radius: 0.5rem;
    /* box-shadow: 10px 10px #2a9ec7; */
    transition: 0.5s ease, transform 0.3s ease; 
}

.user-form-card:hover {
    /* box-shadow: 12px 12px #2a9ec7; */
    transform: scale(1.01);
}

input[type="email"], input[type="password"], #regname {
    margin: 0.5rem 0;
    height: 3rem;
    font-size: 1rem;
    width: 100%;
    border-radius: 0.5rem;
    box-sizing: border-box;
    border: 1px solid #ccc;
    background-color: #dbe8ed;
}

.userRegBtn {
    width: 100%;
    border: 2px solid #2a9ec7;
    margin: 0.5rem 0 0 0;
}

.userRegBtn:hover {
    background-color: #2a9ec7;
    color: white;
    border-color: #2a9ec7;
}

#signup-btn-container {
    display: flex;
    justify-content: center;
    justify-content: space-between;
    gap: 1rem;
    width: 100%;
}

#cancelBtn {
    width: 100%;
    border: 2px solid #ffffff;
    background-color: transparent;
    color: #ffffff;
    transition: 0.5s ease;
}

#cancelBtn:hover {
    background-color: #ffffff;
    color: #2a9ec7;
    border-color: #ffffff;
}

.remember-me {
    display: flex;
    font-size: 0.85rem;
    align-items: center;
    margin: 1rem 0;
    gap: 0.5rem;
}

.remember-me input[type="checkbox"] {
    width: auto;
    height: 1.25rem;
    margin: 0;
}
